a.elf-external.elf-icon {
  background: url(../images/link.png) right center no-repeat;
  padding-right: 12px;
}
a.elf-mailto.elf-icon {
  background: url(../images/mail.png) right center no-repeat;
  padding-right: 12px;
}
a.elf-external .screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
